.grid-container{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(3,auto);
  grid-template-areas:
  'n n n n n n n n n n n n'
  'm m m m m m m m m m m m'
  'f f f f f f f f f f f f';
  column-gap: 20px;
}

